<div class="container">
    <div class="row crux-form">
        <div class="col-md-12 text-center">
            <h2>Login Form</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 crux-form">
            <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input 
                    type="email"
                    class="form-control" 
                    placeholder="Enter email" 
                    id="email"
                    ngModel
                    name="email"
                    #email = "ngModel"
                    required
                    >
                </div>
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                    Email is required.
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Enter password" 
                    id="pwd"
                    ngModel
                    name="pwd"
                    #pwd="ngModel"
                    required>
                  </div>
                <div class="alert alert-danger" *ngIf="pwd.touched && !pwd.valid">
                    Password is required.
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>

                
              </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>