<div class="crux-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="crux-home-left">
          <h2>DIGITAL <span>AGENCY</span></h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing <br>and typesetting industry. Lorem Ipsum has <br>been the industry's standard dummy text ever since the 1500s.
          </p>
          <button mat-button class="home-request-button">request a quote</button>
          <button mat-button class="home-request-button">Start Now</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="crux-home-right">
          <img src="assets/images/home-banner-right.png" alt="" style="width: 50%;" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-about">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h2 class="mat-h1 crux-service-h2">Our Services</h2>
          </div>
      </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>TRUK 4K</mat-card-title>
                  <mat-card-subtitle>Crux</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/truk.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>TRUK 4K</mat-card-title>
                  <mat-card-subtitle>Crux</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/truk-2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>TRUK 4K</mat-card-title>
                  <mat-card-subtitle>Crux</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/truk-3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
  </div>
</div>
